<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="theme.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container with-nav noselect" id="app" v-cloak>
    <title>{{titleText}}</title>
    <div class="navbar">
        <ul class="navbar-menu">
            <li>
                <a href="https://github.com/utkinva" target="_blank">GitHub</a>
            </li>
        </ul>
        <ul class="navbar-menu">
            <li>
                <button class="btn" @click="changeLanguageToRu()">Русский</button>
                <button class="btn" @click="changeLanguageToEng()">English</button>
            </li>
        </ul>
    </div>
    <div class="card marked">
        <h1>{{ titleText }}</h1>
        <transition name="fade">
            <div v-if="toolTipVisible" class="alert danger modal">
                {{ toolTipText }}
            </div>
        </transition>
        <transition name="fade">
            <div v-if="revertChangesVisible" class="alert warning modal list">
                    <div style="line-height: 40px;">
                        {{wasRemovedText}}
                        <button class="btn warning" style="float: right; line-height: 20px;" @click="revertChanges()">{{cancelBtnText}}</button>
                    </div>

            </div>
        </transition>

        <div class="form-control">
            <input
                maxlength="50"
                type="text"
                :placeholder="placeholderText"
                v-model="inputValue"
                @keypress.enter="addNewNote()"
            />
        </div>
        <button :class="addBtnVisible" @click="addNewNote">{{addBtnText}}</button>
        <span>
            <button
                :class="saveBtnVisible"
                @click="saveChanges()">
                {{saveBtnText}}
            </button>
            <button
                :class="cancelBtnVisible"
                @click="cancelBtn()">
                {{cancelBtnText}}
            </button>
        </span>

        <hr>
        <ul class="list" v-if="notesList.length !== 0">
            <li class="list-item noselect" v-for="(uNote, i) in notesList">
                {{ i + 1}}) {{ uNote }}
                <span>
                    <button
                        style="right: 0"
                        class="btn primary"
                        @click="editNote(i)">
                        {{editBtnText}}
                    </button>
                    <button
                        class="btn danger"
                        @click="deleteNote(i)">
                        {{deleteBtnText}}
                    </button>
                </span>

            </li>
            <hr />
            <li><strong>{{allNotesText}}: {{ notesList.length }}</strong></li>
        </ul>
        <div v-else>{{noNotesYetText}}</div>

    </div>
</div>


<script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>
</html>